/* Navbar CSS start */


.top-bar {
    background-color: var(--color-primary);
    padding: 8px 0;
    font-size: 14px;
}

.top-bar .right-links span {
    margin-left: 20px;
    cursor: pointer;
}


.main-navbar {
    background-color: var(--color-secondary) !important;
    padding: 18px 0;

}

.main-navbar .navbar-brand {
    color: var(--color-accent) !important;
    font-weight: 600;
    font-size: 20px;
}

.main-navbar .nav-link {
    color: var(--color-accent) !important;
    margin-left: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.main-navbar .nav-link:hover {
    color: var(--color-primary) !important;
}
.navbar-logo{
    width: 70px;
}
.contact-info , .right-links span {
    
    font-weight: 700;
}
.navbar-toggler{
    color: var(--color-primary) !important;
}


.main-navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}



.main-navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.main-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Navbar css END */